@import '../../common/styles/variables';

.dropdown {
  display: inline-block;
  position: relative;

  &__select {
    color: $font-color;
    display: inline-block;
    padding: 5px 30px 5px 10px;
    width: 100%;
    font-size: 1rem;
    box-shadow: none;
    background: $white;
    border-radius: 3px;
    outline: none;
    z-index: 2;
    border: 1px solid $input-normal;
    cursor: pointer;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      outline: none;
    }

    &:disabled,
    &--disabled {
      cursor: not-allowed;

      &:hover,
      &:active,
      &:focus {
        background-color: $button-disabled;
      }
    }
  }

  &:after {
    content: ' ';
    position: absolute;
    right: 6px;
    top: 50%;
    pointer-events: none;
    margin-top: -2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
  }
}

// styles for dropdowns used as selects
