@import '../../common/styles/variables';

.input {
  font-size: 16px;
  line-height: 24px;
  padding: 4px 8px;
  border: 1px solid $input-normal;
  border-radius: 1px;
  outline: none;
  width: 100%;

  &:hover {
    box-shadow: 0px 0px 0px 2px rgba(216, 216, 216, 1);
  }

  &:focus {
    border-color: $input-focus;
  }

  &--error {
    border-color: $color-error;
  }
}

.input-wrap {
  position: relative;
  display: inline-block;

  &__input {
    padding-right: 24px;
  }

  &__error {
    position: absolute;

    bottom: 40px;
    left: 8px;
    white-space: nowrap;
    color: $color-error;
  }

  &__clear {
    position: absolute;
    right: 8px;
    top: 6px;
  }
}
