@import '../../../common/styles/variables';
@import '../../../common/styles/mixins';

.processing-info-modal {
  padding: 56px;
  max-width: 108 * 8px;

  &__title {
    margin-bottom: 16px;
  }

  &__subtitle {
    margin-top: 16px;
  }

  &__section {
    border-top: 1px solid $border-color;
    margin: 24px -32px 0 -32px;
    padding: 24px 32px 0 32px;
  }

  &__version {
    padding-right: 32px;
    text-align: right;
  }
}

.dot-label {
  background-color: lighten($processed-ccdl, 52%);
  line-height: 1;
  padding: 4px 8px 4px 8px;
  border-radius: 16px;
  display: inline-block;
  margin-bottom: 1.5rem;

  &:before {
    content: ' ';
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 4px solid $processed-ccdl;
    display: inline-block;
    margin-right: 8px;
  }

  &--submitter {
    background-color: lighten($processed-submitter, 52%);

    &:before {
      border-color: $processed-submitter;
    }
  }

  &--info {
    background-color: #d6e8ff;

    &:before {
      border-color: #002f6c;
    }
  }
}

.arrow {
  display: block;
  position: relative;
  border-top: 2px solid $border-color;
  margin-top: 5px;
  margin-bottom: 5px;

  &:before {
    content: ' ';
    border-top: 2px solid $border-color;
    position: absolute;
    top: -6px;
    right: 0;
    transform: rotate(30deg);
    width: 16px;
  }

  &:after {
    content: ' ';
    border-top: 2px solid $border-color;
    position: absolute;
    top: 2px;
    right: 0;
    transform: rotate(-30deg);
    width: 16px;
  }
}

.pipeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 16px 0 32px 0;
  justify-content: space-around;

  &__item {
    margin-left: 8px;
    margin-right: 8px;
  }

  &__arrow {
    flex-grow: 1;
  }
}
