@import '../../common/styles/variables';

.button {
  background-color: $azure;
  border: 1px solid currentColor;
  border-radius: 3px;
  color: $white;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px 24px;
  display: inline-block;
  white-space: nowrap;

  &--secondary {
    background: none;
    color: $azure;
  }

  &--plain {
    color: $azure;
    font-size: 0.8rem;
    border: 0;
    border-bottom: 1px solid currentColor;
    line-height: 1;
    border-radius: 0;
    background: none;
    padding: 0;
  }

  &--remove {
    background: none;
    color: $black;
  }

  &--transparent {
    border: none;
    background-color: transparent;
    padding: 0;
    color: $black;    
  }
}
