@import '../../common/styles/variables';

.main {
  &__container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;

    &--searchbox {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      background-color: #fdfdfd;
      box-shadow: 0 4px 21px 0 rgba(0, 0, 0, 0.2);
      padding: 3 * 8px;
      margin-bottom: 24px;
      margin-top: -220px;
      z-index: 30;
      max-width: 880px;

      @include tablet {
        padding: 9 * 8px 0 5.5 * 8px 0;
        align-items: center;
      }
    }
  }

  &__steps-container {
    @extend .main__container;

    @include desktop {
      max-width: 1250px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__col {
    margin-bottom: 6 * 8px;

    @include desktop {
      padding: 0 10 * 8px;
      border-right: 3px solid #f2f2f2;
      flex: 1 1;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        border-right: none;
        padding-right: 0;
      }
    }
  }

  &__section {
    padding: 7 * 8px 0 0;

    @include tablet {
      padding: 13 * 8px 0;
    }

    &--gray {
      background: $background-color--highlight;
    }

    &--blue-gradient {
      background: $background-color--blue-gradient;
      text-align: center;
      color: $white;
      padding: 9 * 8px 0;
    }

    &--searchbox {
      position: relative;
      overflow: hidden;
      min-height: 375px;
      background: linear-gradient(
        179.93deg,
        rgba(12, 52, 131, 0.94) 0%,
        rgba(25, 64, 142, 0.95) 16.45%,
        #6b8cce 43.03%,
        #a2b6df 69.1%,
        #a2b6df 100%
      );
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
      overflow: hidden;

      @include desktop() {
        overflow: visible;
        min-height: 480px;
      }
    }

    &--explore {
      background-color: #f2f2f2;
    }
  }

  &__heading-1 {
    font-size: 1.6rem;
    text-align: center;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__heading-2 {
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 2 * 8px;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
      font-size: 1.75rem;
      margin-bottom: 4 * 8px;
      flex-direction: row;
    }
  }

  &__paragraph {
    font-size: 1.25rem;
  }

  &__icon {
    margin-right: 3 * 8px;
    width: 56px;
  }

  &__search-suggestions {
    margin: 2 * 8px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;

    @include tablet {
      justify-content: space-between;
      flex-flow: row wrap;
      margin: 5 * 8px;
    }
  }

  &__search-suggestion-label {
    font-size: 1.375rem;
    margin: 0;

    @include tablet {
      flex: 1 100%;
      text-align: center;
      margin-bottom: 16px;
    }

    @include desktop {
      flex: 1 auto;
      margin-bottom: 0;
    }
  }

  &__search-suggestion {
    font-size: 1.375rem;
    color: $azure;
    line-height: 1;
    border-bottom: 2px solid currentColor;
    margin: 8px 0;

    @include tablet {
      margin: 0 4 * 8px 0 8px;
    }
  }

  &__email-section-form {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__email-section-input {
    margin-right: 2 * 8px;
    width: 100%;
    margin-bottom: 0.5rem;

    @include tablet {
      margin-bottom: 0;
      width: auto;
      min-width: 385px;
    }
  }

  &__email-section-button {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  &__email-section-error-container {
    display: block;
    text-align: left;
    margin: 0 auto;
    @include tablet {
      width: 50%;
    }
  }

  &__stats-placeholder {
    margin-top: 50px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    max-width: 100%;
  }

  &__blurp-text {
    font-size: 16px;
    margin-bottom: 1rem;

    @include tablet() {
      font-size: 22px;
    }
  }

  &__uses-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;

    @include tablet {
      margin-top: 56px;
      flex-direction: row;
    }

    @include desktop {
      margin-left: -50px;
      margin-right: -50px;
    }
  }

  &__use-card {
    padding: 16px;
    background-color: #fdfdfd;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    flex: 1 0 0;
    color: $font-color;
    margin-bottom: 24px;
    text-align: left;

    @include desktop {
      margin-left: 25px;
      margin-right: 25px;
      margin-bottom: 0;
    }

    &__icon {
      height: 50px;
      margin-bottom: 1.2rem;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &__body {
      margin-bottom: 1rem;
    }
  }

  &__explore-card-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;

      margin-left: -50px;
      margin-right: -50px;
    }
  }

  &__explore-card {
    padding: 16px;
    background-color: #fdfdfd;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    flex: 1 0 0;
    background-repeat: no-repeat;
    background-position: bottom right;

    @include desktop {
      margin-bottom: 0;
      margin-left: 25px;
      margin-right: 25px;
      padding: 60px 40px;
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &__body {
      margin-bottom: 1rem;
    }
  }
}

// extends default tabs style
.toggle.toggle--statics-tabs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-bottom: 40px;

  .toggle__container {
    justify-content: center;
    flex-direction: column;

    @include tablet() {
      flex-direction: row;
    }
  }

  .toggle__item {
    border-right: none;
    text-align: center;
  }

  .toggle__button {
    padding: 16px 24px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 30px;
    margin-left: 8px;
    margin-right: 8px;

    &:hover {
      background-color: #ccc;
    }
  }

  .toggle__button--active {
    box-shadow: none;
    background-color: $azure;
    color: $white;

    &:hover {
      background-color: $azure;
    }
  }
}
