@import '../../common/styles/variables';

.share-link-modal {
  padding: 40px 80px;
  max-width: 625px;

  &__title {
    margin-bottom: 16px;
  }
}

.downloads__help-icon {
  vertical-align: super;
  width: 16px;
  height: 16px;
}

.downloads {
  &__heading {
    font-size: 1.625rem;
  }

  &__bar,
  &__fieldset {
    display: flex;
  }

  &__fieldset {
    margin-bottom: 2 * 8px;
    align-items: center;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__bar {
    border-bottom: 1px solid $gray;
    padding-bottom: 1rem;
    flex-direction: column;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    @include tablet {
      align-items: center;
      flex-direction: row;
      margin-bottom: 0;

      flex: 2 100%;
      justify-content: space-between;
    }

    @include desktop {
      flex: 1 auto;
    }
  }

  &__advanced-options {
    margin-top: 1rem;
  }

  &__advanced-options-toggle {
  }
}
