@import '../../common/styles/variables';

.responsive-chart {
  flex-direction: column;
  display: flex;
  padding: 24px;
  background: $white;
  border: 1px solid $gallery;

  @media screen and (min-width: $mobile) {
    &--medium {
      grid-row: span 2;
    }

    &--large {
      grid-column: span 2;
      grid-row: span 2;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.3;
  }

  &__text {
    font-size: 2.5rem;
  }

  &__container {
    position: relative;
    align-items: center;
    flex: 1;
    display: flex;
    width: 100%;

    &--medium {
      padding-bottom: 100%;
    }

    &--large {
      padding-bottom: 75%;
      
      @media screen and (min-width: $mobile) {
        padding-bottom: 50%;
      }
    }
  }

  &__absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
