@import './variables';

/* Styles for form controls here */

// add a consistent style for all text inputs
.input-text {
  border: 2px solid $gray;
  border-radius: 3px;
  font-family: inherit;
  padding: 8px 24px;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}

.input-lg {
  font-size: 16px;

  @include tablet() {
    font-size: 22px;
  }
}

textarea {
  width: 480px;
  height: 72px;
  padding: 5px;
  resize: none;
  border: 2px solid #979797;
}
