// COLORS - light to dark
$white: #FFF;
$whisper: #FDFDFD;
$gallery: #D8D8D8;
$gray: #979797;
$tundora: #444;
$black: #000;

$azure: #386DB0;

$success: #41A36D;

// FUNCTIONAL COLORS
$font-color: $black;
$background-color--light: $whisper;
$background-color--highlight: #F2F2F2;

$border-color: #979797;

$border-color: #979797;

// SCREEN SIZES
$mobile: '600px';

// SPACING
$container-spacing: 32px;


// FORM ELEMENTS
$input-normal: #9B9B9B;
$input-hover: $input-normal;
$input-focus: #386DB0;
