// COLORS - light to dark
$white: #FFF;
$whisper: #FDFDFD;
$gallery: #EEE;
$gray: #979797;
$tundora: #444;
$black: #000;

$azure: #386DB0;

// FUNCTIONAL COLORS
$font-color: $black;
$background-color--light: $whisper;

// SCREEN SIZES
$mobile: '600px';

// SPACING
$container-spacing: 32px;
