// COLORS - light to dark
$white: #FFF;
$whisper: #F5F6FA;
$gallery: #EEE;
$gray: #828282;
$tundora: #444;

$pelorous: #386DB0;

// FUNCTIONAL COLORS
$font-color: $tundora;
$background-color--light: $whisper;

// SCREEN SIZES
$mobile: '600px';

// SPACING
$container-spacing: 32px;
