@import '../../common/styles/variables';

.results {
  position: relative;

  &__top-bar {
    margin-bottom: 24px;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @include tablet {
    &__container {
      display: flex;
    }
  }

  &__filters {
    max-width: 230px;
    min-width: 230px;
    margin-right: 48px;
  }

  &__search {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__added {
    display: flex;
    align-items: center;
    margin-right: 6px;
    font-size: 0.875rem;
    color: $success;
  }

  &__added-container {
    display: flex;
    align-items: center;
  }

  &__added-icon {
    font-size: 1.5rem;
    margin-right: 6px;
  }

  &__no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7*8px;
  }

  &__no-results-image {
    margin-top: 7*8px;
  }

  &__suggestion {
    font-size: 1.375rem;
    margin: 0 2*8px;
  }
}