@import '../../common/styles/variables';

.results {
  &__top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__container {
    display: flex;
  }

  &__filters {
    max-width: 230px;
    min-width: 230px;
    margin-right: 48px;
  }

  &__search {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__added {
    display: flex;
    align-items: center;
    margin-right: 6px;
    font-size: 0.875rem;
    color: $success;
  }

  &__added-container {
    display: flex;
    align-items: center;
  }

  &__added-icon {
    font-size: 1.5rem;
    margin-right: 6px;
  }
}