.results {
  position: relative;

  &__top-bar{
    margin-bottom: 24px;
  }

  &__container {
    display: flex;
  }

  &__filters {
    max-width: 230px;
    min-width: 230px;
    margin-right: 48px;
  }

  &__search {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}

.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
  border-bottom: none;

  &__icon {
    border: 1px solid;
    width: 25px;
    height: 25px;
    display: flex;
    margin: 0 auto 8px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:before {
      content: '\f3d0';
      font-family: 'Ionicons';
      font-style: normal;
    }
  }
}