@import '../../common/styles/variables';


.input-copy {
    width: 100%;

    &__btn {
        float: right;
    }

    &__text {
        margin-right: 96px;
    }

    &__alert {
        font-size: 14px;
        color: $success;
        margin-bottom: 8px;
    }
}


