

.input-copy {
    width: 100%;

    &__btn {
        float: right;
    }

    &__text {
        margin-right: 96px;
    }

    &__alert {
        font-size: 14px;
        color: #41A36D;
        margin-bottom: 8px;
    }
}


