@import '../../../common/styles/variables';

.result-filters {
  &__title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    text-transform: capitalize;
    margin-bottom: 0;
  }

  &__section {
    padding: 4 * 8px 0;
    border-bottom: 1px solid $gray;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__filter-check {
    font-size: 16px;
  }
}

.filter-label {
  background-color: #e9f0f8;
  padding-left: 8px;
  font-size: 16px;
  line-height: 24px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;

  &__remove {
    margin-left: 8px;
    border-left: 1px solid $white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0;
    font-size: 10px;

    &:hover {
      border-color: $white;
    }
  }
}
