@import '../../common/styles/variables';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    max-width: 1075px;
    padding: 0 8px;
    width: 100%;
    flex: 1;

    @include tablet {
      margin: 1rem auto;
    }
  }
}
