@import '../../common/styles/variables';

.search-input {
  display: flex;
  max-width: 100%;

  &__textbox {
    border: 2px solid $gray;
    border-radius: 3px;
    font-size: 1rem;
    font-family: inherit;
    margin-right: 16px;
    max-width: 450px;
    padding: 4px 8px;

    @include tablet {
      padding: 11px 24px;
    }

    &:focus {
      outline: none;
    }
  }
}