.terms {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 0;

  &__title {
    font-weight: 500;
  }

  &__list {
    padding: 0;
    margin: 1em 0 0 2rem;
    font-weight: 400;

    &--bold {
      padding: 0;
      margin-left: 1rem;
      font-weight: 600;
    }
  }

  &__caps {
    text-transform: uppercase;
  }

  li {
    margin-bottom: 1em;
    line-height: 1.6;
  }

  em {
    font-style: normal;
    border-bottom: 1px solid currentColor;
  }

  p {
    font-weight: 400;
    line-height: 1.7;
  }
}