@import '../../common/styles/variables';

// This class is applied to the body element when a modal dialog is displayed to disable scrolling
/*body*/.modal-open {
    overflow: hidden;
}

.modal-backdrop {
    background: $black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: 1001;

    // center vertically the modal dialog
    &--center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // refers to modal dialogs that aren't centered and have a fixed distance from the top of the screen
    &--top {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    &__dialog {
        position: relative;
        width: auto;
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        border: 1px solid $border-color;	
        background-color: $white;	
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.06);
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        line-height: 1;
    }
}

