@import '../../common/styles/variables';

.experiment {
  border-radius: 3px;
  background-color: $white;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 24px;
  margin: 16px 0 40px;
  position: relative;

  &__header-title {
    word-break: break-all;
    word-break: break-word;
    display: block;
    font-size: 1.25rem;

    @include tablet {
      flex: 1;
      margin-right: 16px;
    }
  }

  &__dataset-buttons {
    flex-direction: column;
    justify-content: end;
    align-items: end;

    .dataset-download__button {
      margin-top: 1rem;

      &.dot-label {
        position: absolute;
        top: -8px;
        right: 8px;
      }
    }
  }

  &__dataset-buttons-samples {
    flex-flow: row-reverse;
    min-width: 320px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__header {
    margin-bottom: 16px;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__accession {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__stats {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
  }

  &__stats-item {
    display: flex;
    flex-basis: (100%/2);
    align-items: center;
    margin: 8px 0;

    @include tablet {
      flex-basis: (100%/3);
    }

    &--lg {
      flex-basis: 100%;
    }
  }

  &__stats-icon {
    height: 24px;
    margin-right: 8px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  &__source-database {
    border-top: 1px solid $border-color;
    margin-top: 24px;
    padding-top: 16px;
    display: flex;
  }

  &__row {
    padding: 3 * 8px;
    margin-left: -24px;
    margin-right: -24px;
    word-break: break-word;

    @include tablet {
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 19 * 8px;
      display: flex;
      flex-direction: row;
    }

    &:nth-child(2n + 1) {
      background-color: $background-color--highlight;
    }
  }

  &__section {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid $border-color;
  }

  &__row-label {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 8px;

    @include tablet {
      text-align: right;
      margin-right: 24px;
      flex-basis: 192px;
      flex-shrink: 0;
      font-size: 1em;
    }

    &--light {
      font-weight: normal;
    }
  }

  &__sample-commands {
    margin-bottom: 16px;

    @include desktop() {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__per-page-dropdown {
    white-space: nowrap;
  }

  &__not-provided {
    color: $dusty-gray;
    font-style: italic;
  }

  &__sample-actions {
    flex-grow: 1;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding-left: 32px;
    }
  }

  &__samples-table-block {
    margin-bottom: 80px;
  }

  &__sample-table-loading-wrap {
    padding-top: 40px;
    min-height: 1200px;
  }

  &__sample-table-expand {
    padding-top: 6px;
    margin-left: 16px;
    display: none;

    @media (min-width: 1600px) {
      display: block;
    }
  }

  &__expand-button {
    color: $link-color;
    display: flex;
    align-items: center;

    > img {
      margin-right: 8px;
    }
  }
}
