@import '../../common/styles/variables';

.error-page {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 48px;

  &__text {
    margin-bottom: 48px;
  }

  &__button-row {
    margin-top: 48px;
  }

  @include tablet {
    justify-content: space-around;
    flex-direction: row;
    margin-top: 15 * 8px;
    align-items: center;
  }

  p {
    font-size: 1.25rem;
  }
}
