@import '../../common/styles/variables';

.exec-dash {
  font-size: 14px;

  @include tablet {
    font-size: 20px;
  }

  @media (min-width: 2500px) {
    font-size: 32px;
  }

  &__header {
    margin-bottom: 2em;
    background-color: #386db0;
    color: $white;
    display: flex;
    align-items: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 2em;
  }

  &__error {
    color: $color-error;
  }

  &__grid {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1;
    grid-gap: 1em;
    grid-template-rows: auto;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      margin-left: 2em;
      margin-right: 2em;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &__block {
    background: $white;
    border: 1px solid $gallery;
    padding: 1em 2em;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__block-header {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__block-number {
    font-weight: 600;
    font-size: 1.6em;
  }

  &__block-small {
    font-size: 0.8em;
  }

  &__sample-breakdown {
    @extend .exec-dash__block;
    display: block;
    text-align: left;

    @include tablet {
      grid-column: span 2;
    }

    @include desktop {
      grid-column: span 3;
    }
  }

  &__sample-graph {
    @extend .exec-dash__block;
    display: block;
    text-align: left;
    grid-column: 1/-1;
  }

  &__numbers-table {
    display: flex;
    flex-direction: column;
    margin-top: 1em;

    @include tablet {
      margin-top: 2em;
      flex-direction: row;
      justify-content: space-between;
    }

    > div {
      > div:last-child {
        font-weight: 600;
        font-size: 1.6em;
      }
    }
  }

  &__chart {
    position: relative;
    padding-bottom: 50%;
    margin-top: 1em;
    max-height: 300px;
  }

  &__chart-table {
    th {
      font-weight: 600;
    }

    td {
      font-size: 0.8em;
      color: $gray;
      padding-right: 2em;
    }
  }

  &__note {
    font-size: 0.8em;
    color: $gray;
  }
}

.running-status {
  margin-bottom: 16px;
  display: block;
  padding: 14px;
  text-align: center;
  background-color: #db3b28;
  border-radius: 4px;
  font-size: 20px;
  color: $white;
  grid-column: 1/-1;

  &--running {
    background-color: #41a36d;
  }

  &--running-fast {
    background-color: #41a36d;
  }
}
