@import '../../common/styles/variables';

.header {
  &__container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 95%;
    max-width: 1250px;
    padding: 0 20px;
    margin: 1.5rem auto 0;
  }

  &__logo {
    color: #002F6C;
    font-size: 1.5rem;
  }

  &__link {
    margin: 0 1rem;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
  }
}

