@import '../../common/styles/variables';

.header {
  position: sticky;
  top: 0;
  background: $background-color--light;
  z-index: 10;

  @include tablet {
    padding: 1.5rem 0;
  }

  &__container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 95%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 8px;

    @include tablet {
      padding: 0 20px;
    }
  }

  &__logo {
    width: 80px;

    @include tablet {
      width: auto;
    }
  }

  &__dropdown {
    .header__link {
      cursor: pointer;
      svg {
        display: inline-block;
        vertical-align: middle;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      &.header__dropdown--links {
        position: absolute;
        left: -10px;
        transform: translate(0, 2px);
        opacity: 0;
        visibility: hidden;
        background-color: #fdfdfd;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
        padding: 5px 0;
        font-size: 16px;
        line-height: 24px;
        transition: opacity 0.1s ease-in-out;
        &.header__dropdown--open {
          opacity: 1;
          visibility: visible;

          // this allows for better hover states
          &:before {
            content: '';
            display: block;
            position: absolute;
            height: 20px;
            top: -20px;
            right: 0;
            width: 50%;
          }
        }

        li {
          padding-top: 10px;
          a {
            padding: 0 5px;
            display: block;
            color: #000000;
          }
          &:first-child {
            padding-top: 0;
          }
          &.header__link--active a,
          a:hover {
            background-color: #386db0;
            color: #fdfdfd;
          }
        }
      }
    }
  }

  &__link {
    margin: 48px 1rem 0 1rem;
    padding: 0;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    flex: 1;
    display: flex;
    align-items: center;
    min-width: fit-content;
    position: relative;
    border-bottom: 2px solid transparent;

    @include tablet {
      margin-top: 0;
    }

    &:hover {
      color: #386db0;
      border-bottom: 2px solid currentColor;
    }

    &--active {
      .header__menu & {
        color: #386db0;
        border-bottom: 2px solid currentColor;
      }
    }

    &--button-wrap,
    &--button-wrap:hover {
      border-bottom-color: transparent;
    }

    &__dropdown {
      cursor: pointer;
      position: absolute;
      width: 100%;
      opacity: 0;
    }
  }

  &__link-button {
    position: relative;
  }

  &__dataset-count {
    position: absolute;
    top: -0.5em;
    left: 92%;
    background: $azure;
    color: $white;
    border-radius: 15px;
    padding: 0 0.5em;
    line-height: 1.5;
    font-size: 0.75rem;
    text-align: center;
  }

  &__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 0;
    display: flex;

    @include tablet {
      display: flex;
      position: relative;
      background: none;
      height: auto;
      width: auto;
      flex-direction: row;
    }
  }

  &__burger {
    font-size: 3rem;
  }

  &__menu-close {
    position: absolute;
    top: 13px;
    right: 16px;
    line-height: 1;
    font-size: 2rem;
  }
}

.header--light,
.header--inverted {
  background: transparent;
}

.header--inverted {
  .header__logo {
    filter: brightness(0) invert(1);
  }

  .header__burger {
    color: $white;
  }

  .header__link {
    &:hover {
      color: $white;
    }

    &--active {
      color: $white !important;
    }
  }

  @include tablet() {
    color: $white;

    .header__link-button {
      color: $white;

      &:hover,
      &:focus,
      &:active {
        color: $azure;
        border-color: $white;
        background-color: $white;
      }
    }

    .header__dataset-count {
      background: $white;
      color: $azure;
    }
  }
}

// disable stick
.header--scroll {
  position: absolute;
  width: 100%;
}

.github-corner {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  @include desktop {
    display: block;
  }
}
