@import '../common/styles/variables';
@import '../common/styles/mixins';

.horizontal-scroll {
  position: relative;
  height: 100%;
  &__content {
    height: 100%;
  }

  &__left,
  &__right {
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  $opacity: 0;

  &__left {
    left: 0;
    background: linear-gradient(
      270deg,
      rgba(253, 253, 253, 0) 0%,
      rgba(204, 204, 204, 0.2) 40%,
      rgba(204, 204, 204, 1) 100%
    );
    background-repeat: no-repeat;

    > .horizontal-scroll__button {
      margin-left: -12px;
      margin-right: 12px;
    }
  }

  &__right {
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(253, 253, 253, 0) 0%,
      rgba(204, 204, 204, 0.2) 40%,
      rgba(204, 204, 204, 1) 100%
    );
    background-repeat: no-repeat;

    > .horizontal-scroll__button {
      margin-right: -12px;
      margin-left: 12px;
    }
  }

  &__button {
    width: 24px;
    height: 48px;
    color: $white;
    background-color: $azure;
    font-size: 24px;
    justify-content: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    @include noselect;
    z-index: 2;

    &--animate {
      animation-fill-mode: both;
      animation-name: eva-shake;
      animation-duration: 1s;
      animation-delay: 0.1s;
    }
  }

  &__disabled {
    display: none;
  }
}

@keyframes eva-shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-3px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(3px, 0, 0);
  }
}
