.spinner {
  display: block;
  padding: 20px;

  svg {
    display: block;
    margin: auto;
    animation: spinner-spin 3.2s ease-in-out infinite;

    line {
      animation-duration: 3.2s;
      animation-timing-function: steps(6);
      animation-iteration-count: infinite;
    }
  }
}

@keyframes spinner-spin {
  0%,
  86% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@for $i from 0 through 4 {
  @keyframes spinner-pair-#{$i} {
    0% {
      opacity: 1;
    }
    #{ceil(($i/6)*100)}%,
    100% {
      opacity: 0;
    }
  }

  @keyframes spinner-pair-reverse-#{$i} {
    0% {
      opacity: 0;
    }
    #{ceil(($i/6)*100)}%,
    100% {
      opacity: 1;
    }
  }
}
