@import '../../common/styles/variables';

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;

  &__input {
    position: absolute;
    left: -9999px;
    opacity: 0;

    & + .checkbox__label:after {
      content: none;
    }

    &:checked {
      & + .checkbox__label {
        &:after {
          content: '';
        }

        &:before {
          background-color: $azure;
        }
      }
    }
  }

  &__label {
    position: relative;
    padding-left: 24px;
    word-break: break-all;
    display: flex;

    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      content: '';
      display: inline-block;
      height: 16px;
      width: 16px;
      border: 1px solid $gray;
      border-radius: 3px;
      top: 3px;
      left: 0;
    }

    &:after {
      content: '';
      display: block;
      height: 4px;
      width: 8px;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      transform: rotate(-45deg);
      left: 4px;
      top: 8px;
    }

    &:hover {
      &:before {
        box-shadow: 0px 0px 0px 1px #d8d8d8;
      }
    }

    &:active,
    &:focus {
      &:before {
        border-color: #386db0;
      }
    }
  }

  &--error {
    .checkbox__label:before {
      border-color: $color-error;
    }
  }

  &--disabled {
    color: $disabled-color;
    pointer-events: none;

    .checkbox__label {
      &:before {
        background-color: $check-disabled;
      }
    }
  }
}
