@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.samples-table-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
  }

  &__main {
    flex: 1 1;
    overflow: hidden;

    // the horizontal scroll buttons overflow outside of the table
    // this is to make sure they are displayed
    padding-left: 16px;
    margin-left: -16px;
    padding-right: 16px;
    margin-right: -16px;
  }

  &__footer {
    padding-top: 16px;
  }
}

.samples-table-container {
  position: relative;
  height: 100%;
}

.samples-table {
  height: 100%;
  max-height: 115 * 8px;
  border-color: $table-border-color;
  font-size: 14px;

  &__th {
    // The original styles for headers in ReactTable are under the selector: .ReactTable .rt-thead .rt-th.-sort-asc
    // !important is here to override that one
    padding: 7px 16px !important;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    &.-sort-asc,
    &.-sort-desc {
      box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.6) !important;
    }
  }

  .rt-tbody {
    min-height: 100px;

    .ios & {
      // momentum scrolling ios https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
    }

    .rt-td,
    .rt-tr-group {
      border-color: $table-border-color;
    }
  }

  .rt-thead {
    .rt-td,
    .rt-th {
      border-color: $table-border-color;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }

  &__message {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 48px 0;

    color: rgba(0, 0, 0, 0.5);

    &--error {
      color: $color-error;
    }
  }

  &__sort {
    flex-direction: column;
    margin-left: 8px;
    display: none;
    color: #8d8d8d;

    .rt-th.-cursor-pointer & {
      display: flex;
    }

    .rt-th.-sort-asc & {
      display: none;
    }

    .rt-th.-sort-desc & {
      display: none;
    }
  }

  &__sort-desc {
    display: none;
    margin-left: 8px;

    .rt-th.-sort-asc & {
      display: none;
    }

    .rt-th.-sort-desc.-cursor-pointer & {
      display: block;
    }
  }

  &__sort-asc {
    display: none;
    margin-left: 8px;

    .rt-th.-sort-asc.-cursor-pointer & {
      display: block;
    }

    .rt-th.-sort-desc & {
      display: none;
    }
  }

  &__sort-icon {
    font-size: 14px;
    line-height: 1;
  }

  // override styles of the original table components
  .rt-td {
    padding: 8px 16px !important;
    white-space: normal !important;
  }

  .rt-tr.-even {
    background: $table-row--highlight;
  }

  .rt-tr {
    &:hover {
      background-color: #e2e2e2;
    }
  }

  &__add-remove {
    display: flex;
    align-items: center;
  }

  .dataset-remove-button__added-container {
    display: block;
  }

  &__notice {
    margin-bottom: 5 * 8px;
  }

  &__filter {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: flex-start;
  }

  &__filter-input {
    margin-left: 8px;
    width: 180px;
  }

  .button {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.info-icon {
  vertical-align: sub;
}

.sample-not-processed {
  font-size: 0.875rem;
}
