@import '../../common/styles/variables';

.footer {
  margin-top: 3*8px;
  padding: 2*8px;
  background: linear-gradient(#FFFFFF 0%, #DFE9F3 100%);
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.1);

  @include tablet {
    padding: 6.5*8px;
  }

  &__container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;

    &--main {
      margin-bottom: 5*8px;
    }
  }

  &__flex {

    @include tablet {
      display: flex;
      justify-content: space-between;

      &--v-centered {
        align-items: center;
      }
    }
  }

  @include tablet {
    &__left {
      flex: 3;
      margin-right: 21*8px;
    }

    &__right {
      flex: 2;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2*8px;
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;

    @include tablet {
      display: flex;
    }
  }

  &__link {
    margin-top: 2*8px;
    color: $gray;

    @include tablet {
      margin-top: 0;
      margin-right: 3*8px;
    }
  }

  &__social {
    font-size: 4*8px;
    color: $gray;
  }

  &__version {
    color: $gray;
    font-size: 0.75rem;
    margin-top: 3*8px;

    @include tablet {
      margin: 0;
      text-align: right;
    }
  }

  &__author {
    margin-top: 5*8px;
  }

  &__icon {
    position: relative;
    top: 2px;
    margin-right: 8px;
  }
}
