@import '../../common/styles/variables';

.footer {
  padding: 2 * 8px;
  background: linear-gradient(#ffffff 0%, #dfe9f3 100%);
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);

  @include tablet {
    padding: 6.5 * 8px;
  }

  &__container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;

    &--main {
      margin-bottom: 5 * 8px;
    }
  }

  &__flex {
    @include tablet {
      display: flex;
      justify-content: space-between;

      &--v-centered {
        align-items: center;
      }
    }
  }

  @include tablet {
    &__left {
      flex: 1;
      margin-right: 21 * 8px;

      @include tablet {
        margin-right: 160px;
      }
    }

    &__right {
      flex: 1;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2 * 8px;

    @include tablet {
      margin-top: 56px;
    }
  }

  &__link-twitter {
    font-size: 4 * 8px;
    color: $gray;
    margin-left: 8px;
    margin-right: 8px;

    &:hover,
    &:active,
    &:focus {
      color: #55acee;
    }
  }

  &__link-github {
    font-size: 4 * 8px;
    color: $gray;

    &:hover,
    &:active,
    &:focus {
      color: #161614;
    }
  }

  &__link-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-flow: row wrap;
      align-items: baseline;
    }
  }

  &__link {
    margin-top: 2 * 8px;
    color: $gray;

    @include tablet {
      margin-top: 0;
      margin-right: 3 * 8px;
    }
  }

  &__version {
    color: $gray;
    font-size: 0.75rem;
    margin-top: 3 * 8px;

    @include tablet {
      margin: 0;
      text-align: right;
      flex: 2;
    }
  }

  &__author {
    margin-top: 2 * 8px;
  }

  &__icon {
    position: relative;
    top: 2px;
    margin-right: 8px;
  }
}
