@import '../../common/styles/variables.scss';

.dataset {
  &__message {
    width: 650px;
    margin: 12 * 8px auto;
  }

  &__container {
    margin-bottom: 5 * 8px;

    &:last-of-type {
      border: none;
    }
  }

  &__image {
    margin-top: 96px;
    text-align: center;
  }

  &__email-modal {
    padding: 32px 80px;
    max-width: 84 * 8px;
  }

  &__email-modal-title {
    margin-bottom: 16px;
  }

  &__way-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__processed-text {
    min-width: 2/3 * 100%;
    margin-right: 8 * 8px;
  }

  &__way-image {
    margin-left: 16px;
  }

  &__way-section {
    margin-top: 32px;
    border-top: 1px solid $border-color;
    padding-top: 32px;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__way-title {
    margin-bottom: 16px;
  }

  &__way-subtitle {
    margin-bottom: 32px;
  }
}

.form-edit-email {
  display: flex;
  margin-bottom: 2 * 8px;

  &__text {
    margin-right: 8px;
    width: 47 * 8px;
  }
}
