@import '../../common/styles/variables';

.dashboard {
  flex: 1;
  background: $background-color--light;

  &__container {
    padding: $container-spacing 0 ($container-spacing * 2);
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
  }
}
