.dashboard {
  background: #f3f3f3;
  flex: 1;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 15px;
  grid-template-rows: auto;
  margin: 0 auto;
  width: 90%;
}
