@import '../../common/styles/variables';

.toggle {
  display: inline-block;
  border: 1px solid $gray;
  border-radius: 3px;
  margin: 1.5rem 0 0.5rem;

  &__container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 4px 1.5rem;
    border-right: 1px solid $gray;

    &:last-of-type {
      border-right: 0;
    }

    &--active {
      box-shadow: inset 0 -3px 0 0 $azure;
    }
  }
}