@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,500,600');

html,
body,
#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin: 0;
}
