@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,500,600,700');

html,
body,
#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #444;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
