@import '../../common/styles/variables';

.header {
  position: sticky;
  top: 0;
  background: $background-color--light;
  z-index: 10;

  @include tablet {
    padding: 1.5rem 0;

    &--main {
      position: relative;
      color: $white;
      background: none;

      .header__logo {
        filter: brightness(0) invert(1);
      }

      .header__link--button {
        color: $white;
      }

      .header__dataset-count {
        background: $white;
        color: $azure;
      }
    }
  }

  &__container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 95%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 8px;

    @include tablet {
      padding: 0 20px;
    }
  }

  &__logo {
    width:  80px;

    @include tablet {
      width: auto;
    }
  }

  &__link {
    margin: 0 1rem;
    padding: 0;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    flex: 1;
    display: flex;
    align-items: center;

    &--button {
      position: relative;
      background: none;
      border-radius: 3px;
      border: 1px solid currentColor;
      color: $azure;
      font-family: 'Lato', sans-serif;
      font-size: 1rem;
      line-height: 1.5;
      padding: 4px 24px;
    }
  }

  &__dataset-count {
    position: absolute;
    top: -0.5em;
    left: 92%;
    background: $azure;
    color: $white;
    border-radius: 15px;
    padding: 0 0.5em;
    line-height: 1.5;
    font-size: 0.75rem;
    text-align: center;
  }

  &__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 100%;
    visibility: hidden;

    &--open {
      margin-left: 0;
      visibility: visible;
    }

    @include tablet {
      position: relative;
      background: none;
      height: auto;
      width: auto;
    }
  }

  &__burger {
    font-size: 3rem;
  }

  &__menu-close {
    position: absolute;
    top: 13px;
    right: 16px;
    line-height: 1;
    font-size: 2rem;
  }
}

