@import '../../../common/styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');

.dataset {
  &__message {
    margin-top: 24px;
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      margin: 12 * 8px auto;
    }
  }

  &__container {
    margin-bottom: 5 * 8px;

    &:last-of-type {
      border: none;
    }
  }

  &__image {
    margin-top: 96px;
    text-align: center;
  }

  &__email-modal {
    padding: 32px 80px;
    max-width: 84 * 8px;
  }

  &__email-modal-title {
    margin-bottom: 16px;
  }

  &__way-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__processed-text {
    margin-bottom: 16px;
    flex: 1 0 auto;

    @include tablet {
      max-width: 2/3 * 100%;
      padding-right: 6 * 8px;
      margin-bottom: 0;
    }
  }

  &__way-image {
  }

  &__way-section {
    margin-top: 32px;
    border-top: 1px solid $border-color;
    padding-top: 32px;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__way-title {
    margin-bottom: 16px;
  }

  &__way-subtitle {
    margin-bottom: 32px;
  }

  &__try-again-button {
    margin-bottom: 16px;
  }

  &__failure-reason {
    margin-top: 16px;
    color: $color-error;
    margin-bottom: 16px;
    font-family: 'Oxygen Mono', monospace;
    background-color: #f2f2f2;
    padding: 8px;
  }

  &__next-steps {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    border-top: 1px solid $border-color;

    img {
      margin-right: 90px;
      display: none;
      width: 380px;
      height: 380px;

      @include desktop {
        display: block;
      }
    }
  }
}

.form-edit-email {
  display: flex;
  margin-bottom: 2 * 8px;
  flex-direction: column;

  &__input {
    margin-right: 8px;

    @include tablet {
      width: 47 * 8px;
    }
  }

  @include tablet {
    flex-direction: row;
  }
}
