@import '../../common/styles/variables';

.back-to-top {
  position: fixed;
  bottom: 15vh;
  border-bottom: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 50;
  text-decoration: initial;
  right: 0;
  padding: 4px 8px;
  background-color: #f2f2f2;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.09);

  &:hover,
  &:active,
  &:focus {
    background-color: #f2f2f2;
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__icon {
    border: 1px solid;
    width: 25px;
    height: 25px;
    display: flex;
    margin: 0 auto 8px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:before {
      content: '\f3d8';
      font-family: 'Ionicons';
      font-style: normal;
    }
  }

  @media (min-width: 1460px) {
    right: 80px;
  }
}
